.phone-card img {
    border-radius: 5%;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;   
}
.phone-card img:hover {
filter: sepia(100%);

}
.phone-card {
    background-color: rgb(192, 189, 189);
    padding-left: 10px;
    padding-right:10px;
    border-radius: 5%;
    border-style: none;
    border-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    /* font-family: 'Satisfy', cursive; */
    box-shadow: 5px 5px 10px black
    
}

.button {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    text-decoration: none;
    
}
.phone-card button {
    padding: 0;
    color: white;
    margin-bottom: 15px;
    margin-left: 10px;
}