.justify-content-around img {
    border-radius: 10px;
    margin-left: 60px;  
}
h1 {
    margin-left: 60px;
}
.justify-content-around {
    font-family: 'Satisfy', cursive;
    margin-bottom: 30px;
}

.details_image {
    width: 300px;
    box-shadow: 5px 5px 10px black;
}